# IDEs
.vs/
Assembly-CSharp/
packages/
References/
PheggMod/bin/
PheggMod/obj/
PheggMod/.editorconfig/
ExamplePlugins/bin/
ExamplePlugins/obj
DiscordLab/Plugin/bin/
DiscordLab/Plugin/obj/
/PheggMod/Commands/CustomAttributes.cs
/DiscordLab/DiscordLabBot.zip
